body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(249,227,227);
background: radial-gradient(circle, rgba(249,227,227,1) 35%, rgba(250,182,182,1) 100%);
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}

button {
    padding: 12px 24px;
    font-size: 18px;
    border: 2px solid #d32f2f; /* Light pink border */
    border-radius: 25px;
    cursor: pointer;
    margin: 35px;
    transition: all 0.3s ease;
    outline: none;
    background-color: #d32f2f; /* Rose pink */
    color: #fff;
  }
  .styled-link {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #d32f2f;
    border-radius: 10px;
    background-color: #d32f2f;
    transition: all 0.3s ease;
}

.styled-link:hover {
    background-color: #cb8478;
    color: white;
}

  button:hover {
    background-color: #e47272; /* Lighter shade of pink */
    border-color: #e47272; /* Lighter shade of pink border on hover */
    transform: scale(1.1);
  }

  button:focus {
    box-shadow: 0 0 0 3px #e47272 /* Pink outline when focused */
  }
